<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>мед сайт</title>
</head>
<body>
    {% block nav %}
<div>
главная
<a href="{{ url_for('lst') }}">Список лекарств</a>
<a href="{{ url_for('recomendation') }}">Рекомендации</a>
<a href="{{ url_for('recforchild') }}">Для детей</a>
</div>
    {% endblock %}


    {% block content %}
    random text
    {% endblock %}

</body>
</html>





