<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рекомендации по лекарствам</title>
</head>
<body>
asdasdas
    <a href="https://cyberleninka.ru/article/n/klinicheskie-rekomendatsii-po-vnebolnichnoy-pnevmonii-u-vzroslyh-chto-nas-zhdet-v-2019-g">
        <h1>Рекомендации взрослым по респираторным заболеваниям</h1> </a>

   
</body>
</html>